<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.graduationproject.mapper.DishInformationMapper">


    <select id="getAllByBusinessId"
            resultType="com.example.graduationproject.entity.DishInformation"
            parameterType="String">
        SELECT
            *
        FROM
            dish_information
        WHERE
            dish_buid = #{buid}
    </select>

    <select id="getDishmessageByDishId"
            resultType="com.example.graduationproject.entity.DishInformation"
            parameterType="String">
        SELECT
            *
        FROM
            `dish_information`
        WHERE
            dish_infomation_id = #{dishid}



    </select>


    <select id="getAllDishMessage" resultType="com.example.graduationproject.entity.DishInformation">
        SELECT * FROM `dish_information`
    </select>

<!--    &#45;&#45; 主食接口-->
<!--    SELECT * FROM dish_information where dish_category = 0-->
<!--    &#45;&#45; 查看汤-->
<!--    SELECT * FROM dish_information where dish_category = 1-->
<!--    &#45;&#45; 查看蔬菜-->
<!--    SELECT * FROM dish_information where dish_category = 2-->
<!--    &#45;&#45; 查看肉菜-->
<!--    SELECT * FROM dish_information where dish_category = 3-->
<!--    &#45;&#45; 酸-->
<!--    SELECT * FROM dish_information where dish_type = 0-->
<!--    &#45;&#45; 甜-->
<!--    SELECT * FROM dish_information where dish_type = 1-->
<!--    &#45;&#45; 辣-->
<!--    SELECT * FROM dish_information where dish_type = 3-->
<!--    &#45;&#45; 咸-->
<!--    SELECT * FROM dish_information where dish_type = 4-->

<!-- 菜品种类   -->

    <select id="SelectDishByDishCategory"
            resultType="com.example.graduationproject.entity.DishInformation"
            parameterType="String">
        SELECT
            *
        FROM
            `dish_information`
        where
            dish_category
                = #{dcategory}

    </select>

    <!-- 菜品味道   -->

    <select id="SelectDishByDishType"
            resultType="com.example.graduationproject.entity.DishInformation"
            parameterType="String">
        SELECT
            *
        FROM
            `dish_information`
        where
            dish_type
                = #{dtype}

    </select>

    <select id="selectDishByDishAddressOrDishCareers"
            parameterType="String"
            resultType="com.example.graduationproject.entity.DishInformation">
        SELECT
            *
        FROM
            dish_information
        WHERE
            dish_address = #{useraddress}
           OR
            dish_careers LIKE  concat('%',#{usercareers},'%')
        <!--concat字符串拼接-->
    </select>




    <select id="selectDishByPriceBetween"
            resultType="com.example.graduationproject.entity.DishInformation"
            parameterType="String">
        SELECT
            *
        FROM
            `dish_information`
        where
            price
                BETWEEN
                #{lowPrice} and #{highPrice}
    </select>
<select id="selectDishByDishName"
        resultType="com.example.graduationproject.entity.DishInformation"
        parameterType="String">
    SELECT
        *
    FROM
        `dish_information`
    where
        dish_name
            LIKE concat('%', #{dishName},'%')
</select>


    <delete id="DeleteDishByDishIdAndDishBuId" parameterType="String">
        DELETE  FROM
                    dish_information
                WHERE
                    dish_infomation_id = #{dishid}
                  and
                    dish_buid = #{buid}
    </delete>


<insert id="AddDishFromBuId">
    INSERT
    INTO
        dish_information
        (dish_name,picture,dish_category,price,intredients,practice,
         Preferred_Quality,dish_histories,Ingredients_one,carbohydrate,
         carbohydrates,fat,fibre,Ingredients_two,Ingredients_three,
         Ingredients_four,Ingredients_five,dish_address,
         dish_careers,dish_buid,dish_type)
    VALUES
        (#{dishName},#{picture},#{dishCategory},#{price},#{intredients},
         #{practice},#{preferredQuality},#{dishHistories},#{ingredientsOne},
         #{carbohydrate},#{carbohydrates},#{fat},#{fibre},#{ingredientsTwo},
         #{ingredientsThree},#{ingredientsFour},#{ingredientsFive},#{dishAddress},
         #{dishCareers},#{dishBuid},#{dishType})
</insert>

    <select id="selectNewDish">
        SELECT
            *
        FROM
            dish_information
        ORDER BY
            create_time
                DESC
            LIMIT 5
    </select>

    <select id="selectLiMitFiveDish">
        SELECT
            *
        FROM
            dish_information
        WHERE
            CAST(dishscore/dishsold AS DECIMAL(8,2)) > 3.6
        ORDER BY
            RAND()
            LIMIT 5
    </select>

    <select id="selectZhuDish">
        select * from
                     dish_information
                 where  #{Average} > price
        AND dish_category = "0"
                 order by
                     rand() LIMIT #{dishcategoryzhuNumber};
    </select>

    <select id="selectshucai">
        select * from
            dish_information
        where  #{Average} > price
          AND dish_category = "2"
        order by
            rand() LIMIT #{dishcategoryshuNumber};
    </select>

    <select id="selecttangpin">
        select * from
            dish_information
        where  #{Average} > price
          AND dish_category = "1"
        order by
            rand() LIMIT #{dishcategorytangNumber};
    </select>

    <select id="selectroulei">
        select * from
            dish_information
        where  #{Average} > price
          AND dish_category = "3"
        order by
            rand() LIMIT #{dishcategoryRouNumber};
    </select>

    <select id="selectdacai">
        SELECT * FROM
                     dish_information
                 WHERE price > 79
                 ORDER BY RAND() LIMIT #{bigdishnumber}
    </select>






</mapper>
