<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.graduationproject.mapper.DishInformationMapper">


    <select id="getAllByBusinessId"
            resultType="com.example.graduationproject.entity.DishInformation"
            parameterType="String">
        SELECT
            *
        FROM
            dish_information
        WHERE
            dish_buid = #{buid}
    </select>

    <select id="getDishmessageByDishId"
            resultType="com.example.graduationproject.entity.DishInformation"
            parameterType="String">
        SELECT
            *
        FROM
            `dish_information`
        WHERE
            dish_infomation_id = #{dishid}



    </select>


    <select id="getAllDishMessage" resultType="com.example.graduationproject.entity.DishInformation">
        SELECT * FROM `dish_information`
    </select>

</mapper>
