<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.graduationproject.mapper.OrderMapper">

<select id="getOrderCenterIdByBusinessId" resultType="com.example.graduationproject.entity.Order" parameterType="String">
    SELECT
        order_center_id,diningoptions,
           total_price,ordering,
           create_time,update_time
    FROM
        `order`
    WHERE order_buid = #{buid}
</select>

    <insert id="insertOrder"
            parameterType="com.example.graduationproject.entity.Order"
            useGeneratedKeys="true"
            keyProperty="orderCenterId">
        INSERT INTO
            `order`
            (purchase_quantity,total_price,order_uid,order_buid,diningoptions,order_dinid)
        VALUES ( #{purchaseQuantity},#{totalPrice},#{orderUid},#{orderBuid},#{diningoptions},#{orderDinid})
    </insert>

<!--    <insert id="batchInsertOrderInfo"-->
<!--            parameterType="java.util.List">-->
<!--        insert into `orderinfo` (order_id,dish_infoid,order_meals) VALUES-->
<!--                    <foreach collection=""  item="" separator=",">-->
<!--                        ( )-->
<!--                    </foreach>-->





<!--    </insert>-->


    <select id="selectByOrderId" resultType="com.example.graduationproject.entity.Order" parameterType="String">
        SELECT * FROM `order` WHERE order_center_id = #{orderid}
    </select>



</mapper>
